<!DOCTYPE html>
<html>
<head>
<title>Easy Log</title>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css" />
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap/js/bootstrap.min.js"></script>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/handlebars.js"></script>
<script src="/javascripts/index.js"></script>
</head>
<body>
<h2>Latest</h2>
<div style="max-height: 450px; overflow-y: scroll; background: rgba(255,255,255, 0.2);">
  <table id="list" class="table table-hover">
    <thead>
      <tr>
        <th style="width: 200px;">Created</th>
        <th style="width: 200px;">Tags</th>
        <th>Content</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>
<p></p>
<p>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModal">New</button>
</p>
<!-- PostModal -->
<form id="postForm" action="" method="post">
  <div id="postModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content" style="background: rgba(255,255,255, 0.2);">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">New</h4>
        </div>
        <div class="modal-body">
          <p>
            <textarea id="content" name="content" class="form-control" placeholder="Log content" required="required"></textarea>
          </p>
          <p>
            <input type="text" id="tags" name="tags" class="form-control" placeholder="Tags" required="required">
          </p>
          <p>
            <input type="text" id="created" name="created" value="<%= created %>" class="form-control">
          </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
<!-- /PostModal -->
<script id="template-list" type="text/x-handlebars-template">
{{#each this}}
<tr>
	<td>{{ created_friendly }}</td>	
	<td>{{ tags }}</td>
	<td>{{{ content }}}</td>
</tr>
{{/each}}           
</script>
<script>
function latest(){
    $.get('/latest', {
        offset: 0
    }, function(result){
        $.each(result.list, function(i, item){
            item.created_friendly = format_date(moment(item.created).toDate(), true);
        });
        var source = $('#template-list').html();
        var template = Handlebars.compile(source);
        var html = template(result.list);
        $('#list tbody').html(html);
    });
}

$(function(){
    $('#postModal').modal('show');
    latest();
    $('#postForm').submit(function(){
        var content = $('#content').val();
        var tags = $('#tags').val();
        var created = $('#created').val();
        $.post('/new', {
            content: content,
            tags: tags,
            created: created
        }, function(result){
            if (result.error != 'err') {
                $('#content').val('');
                $('#tags').val('');
                latest();
            }
        });
        return false;
    });
});
</script>
</body>
</html>
