<!DOCTYPE html>
<html>
<head>
<title>Easy Log</title>
<link rel="stylesheet" href="/stylesheets/style.css" />
<link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css" />
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap/js/bootstrap.min.js"></script>
<script src="/javascripts/moment.js"></script>
<script src="/javascripts/handlebars.js"></script>
</head>
<body>
<h2>Latest</h2>
<div style="max-height: 450px; overflow-y: scroll;">
	<table id="list" class="table table-hover">
		<thead>
			<tr>
				<th style="width: 200px;">Created</th>				
				<th style="width: 200px;">Tags</th>
				<th>Content</th>			
			</tr>
		</thead>
		<tbody>	
		</tbody>
	</table>
</div>
<p><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#postModal">New</button></p>
<!-- Post Modal -->
<div id="postModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
      	<button type="button" class="close" data-dismiss="modal">&times;</button>
      	<h4 class="modal-title">New</h4>                
      </div>
      <div class="modal-body">
		<form action="" method="post">
		<p>Log content：<br><textarea id="content" name="content" class="form-control"></textarea></p>
		<p>Tags：<br><input type="text" id="tags" name="tags" class="form-control"></p>
		<p>Created：<br><input type="text" id="created" name="created" value="<%= created %>" class="form-control"></p>		
		</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="post()">Submit</button>
      </div>
    </div>
  </div>
</div>
<script id="template-list" type="text/x-handlebars-template">
{{#each this}}
<tr>
	<td>{{ created_friendly }}</td>	
	<td>{{ tags }}</td>
	<td>{{ content }}</td>
</tr>
{{/each}}           
</script>
<script>
function format_date(date, friendly){		
    var year = date.getFullYear();
    var month = date.getMonth() + 1;
    var day = date.getDate();
    var hour = date.getHours();
    var minute = date.getMinutes();
    var second = date.getSeconds();
    if (friendly) {
        var now = new Date();
        var mseconds = -(date.getTime() - now.getTime());
        var time_std = [1000, 60 * 1000, 60 * 60 * 1000, 24 * 60 * 60 * 1000];
        if (mseconds < time_std[3]) {
            if (mseconds > 0 && mseconds < time_std[1]) {
                return Math.floor(mseconds / time_std[0]).toString() + ' second ago';
            }
            if (mseconds > time_std[1] && mseconds < time_std[2]) {
                return Math.floor(mseconds / time_std[1]).toString() + ' minute ago';
            }
            if (mseconds > time_std[2]) {
                return Math.floor(mseconds / time_std[2]).toString() + ' hour ago';
            }
        }
    }
    
    //month = ((month < 10) ? '0' : '') + month;
    //day = ((day < 10) ? '0' : '') + day;
    hour = ((hour < 10) ? '0' : '') + hour;
    minute = ((minute < 10) ? '0' : '') + minute;
    second = ((second < 10) ? '0' : '') + second;
    
    var thisYear = new Date().getFullYear();
    year = (thisYear === year) ? '' : (year + '-');
    return year + month + '-' + day + ' ' + hour + ':' + minute;
}

function latest(){
    $.get('/latest', {
        offset: 0
    }, function(result){       
        $.each(result.list, function(i, item){
            //item.created_friendly = moment(item.created).format('YYYY-MM-DD HH:mm');			
            item.created_friendly = format_date(moment(item.created).toDate(), true);
        });        
        var source = $('#template-list').html();
        var template = Handlebars.compile(source);
        var html = template(result.list);
        $('#list tbody').html(html);
    });
}

function post(){
    var content = $('#content').val();
    var tags = $('#tags').val();
    var created = $('#created').val();
    
    if (content.length < 5) {
        alert('Log content is too short ');
        return;
    }
    
    $.post('/new', {
        content: content,
        tags: tags,
        created: created
    }, function(result){
        alert(result.error);
        if (result.error == 'err') {
        }
        else {
            $('#content').val('');
            $('#tags').val('');
            latest();
        }
    });
}

$(function(){
    latest();
});

</script>
</body>
</html>
